.main {
    max-width: 1620px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
    width: 100%;
}

h3 {
    font-size: 1.1rem;
    margin: 0;
}

.red {
    color: red;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.person-block {
    margin-bottom: 15px;
    display: none;
}
.person-block.show {
    display: block;
}
.person-block__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.person-block__days {
    width: 100%;
    font-weight: 600;
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.person-block__content {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    display: none;
}

.person-block__content.show {
    display: block;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);

}

thead,
tfoot {
    background-color: rgba(219, 228, 232, 0.1);
    font-weight: 600;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}

.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}
